In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm

In [2]:
sido_cd_nm = {
    '11' : '서울특별시',
    '21' : '부산광역시',
    '22' : '대구광역시',
    '23' : '인천광역시',
    '24' : '광주광역시',
    '25' : '대전광역시',
    '26' : '울산광역시',
    '29' : '세종특별자치시',
    '31' : '경기도',
    '32' : '강원도',
    '33' : '충청북도',
    '34' : '충청남도',
    '35' : '전라북도',
    '36' : '전라남도',
    '37' : '경상북도',
    '38' : '경상남도',
    '39' : '제주특별자치도',
}

In [3]:
sido_abbr_nm = {
    '서울' : '서울특별시',
    '부산' : '부산광역시',
    '대구' : '대구광역시',
    '인천' : '인천광역시',
    '광주' : '광주광역시',
    '대전' : '대전광역시',
    '울산' : '울산광역시',
    '세종' : '세종특별자치시',
    '경기' : '경기도',
    '강원' : '강원도',
    '충북' : '충청북도',
    '충남' : '충청남도',
    '전북' : '전라북도',
    '전남' : '전라남도',
    '경북' : '경상북도',
    '경남' : '경상남도',
    '제주' : '제주특별자치도',
}

In [4]:
change_sgg_data = {
    '23030': {'시군구':'미추홀구', '시군구코드':'23090'},
    '29' : {'시군구':'세종시', '시군구코드':'29010'}
}

## 교육정도별 데이터

In [5]:
edu_15 = pd.read_excel('../data/1/education/2015.xlsx')
edu_20 = pd.read_excel('../data/1/education/2020.xlsx')

edu_15.columns = [' '.join(i.split(' ')[1:]) for i in edu_15.columns]
edu_20.columns = [' '.join(i.split(' ')[1:]) for i in edu_20.columns]

## 행정구역 데이터 정리

edu_15['시군구'] = edu_15['행정구역별(시군구)'].apply(lambda x:x.split(' ')[1])
edu_15['시군구코드'] = edu_15['행정구역별(시군구)'].apply(lambda x:x.split(' ')[0].strip())
edu_15['시군구'] = edu_15.apply(lambda x: change_sgg_data[x['시군구코드']]['시군구'] if x['시군구코드'] in change_sgg_data else x['시군구'], axis=1)
edu_15['시군구코드'] = edu_15.apply(lambda x: change_sgg_data[x['시군구코드']]['시군구코드'] if x['시군구코드'] in change_sgg_data else x['시군구코드'], axis=1)
edu_15['시도코드'] = edu_15['시군구코드'].apply(lambda x:str(x)[:2])
edu_15['시도'] = edu_15['시도코드'].apply(lambda x: sido_cd_nm[x])
edu_15['행정구역'] = edu_15['시도'] + ' '+ edu_15['시군구']

edu_20['시군구'] = edu_20['행정구역별(시군구)'].apply(lambda x:x.split(' ')[1])
edu_20['시군구코드'] = edu_20['행정구역별(시군구)'].apply(lambda x:x.split(' ')[0].strip())
edu_20['시도코드'] = edu_20['시군구코드'].apply(lambda x:x[:2])
edu_20['시도'] = edu_20['시도코드'].apply(lambda x: sido_cd_nm[x])
edu_20['행정구역'] = edu_20['시도'] + ' '+ edu_20['시군구']

edu_clmns = ['시도코드', '시군구코드', '행정구역', '시도', '시군구', '내국인(6세이상)', '초등학교-계', '초등학교-졸업', '초등학교-재학', '초등학교-중퇴',
       '중학교-계', '중학교-졸업', '중학교-재학', '중학교-중퇴', '고등학교-계', '고등학교-졸업', '고등학교-재학',
       '고등학교-중퇴', '대학(4년제 미만)-계', '대학-졸업', '대학-재학', '대학-수료', '대학-휴학', '대학-중퇴',
       '대학교(4년제 이상)-계', '대학교-졸업', '대학교-재학', '대학교-수료', '대학교-휴학', '대학교-중퇴',
       '대학원(석사과정)-계', '대학원-졸업', '대학원-재학', '대학원-수료', '대학원-중퇴', '대학원(박사과정)-계',
       '대학원-졸업', '대학원-재학', '대학원-수료', '대학원-중퇴', '받지않았음     (미취학 포함)']

edu_15 = edu_15[edu_clmns]
edu_20 = edu_20[edu_clmns]

edu_15['학사 학위 이상 소지자'] = edu_15[['대학교-졸업','대학원(석사과정)-계', '대학원(박사과정)-계']].sum(axis=1)
edu_20['학사 학위 이상 소지자'] = edu_20[['대학교-졸업','대학원(석사과정)-계', '대학원(박사과정)-계']].sum(axis=1)
edu_15['학사 학위 이상 소지자 비율'] = edu_15['학사 학위 이상 소지자'] / edu_15['내국인(6세이상)']
edu_20['학사 학위 이상 소지자 비율'] = edu_20['학사 학위 이상 소지자'] / edu_20['내국인(6세이상)']

edu_15

,시도코드,시군구코드,행정구역,시도,시군구,내국인(6세이상),초등학교-계,초등학교-졸업,초등학교-재학,초등학교-중퇴,...,대학원-졸업,대학원-재학,대학원-재학,대학원-수료,대학원-수료,대학원-중퇴,대학원-중퇴,받지않았음 (미취학 포함),학사 학위 이상 소지자,학사 학위 이상 소지자 비율
0,11,11010,서울특별시 종로구,서울특별시,종로구,140506,14794,8422,5581,791,...,2791,1806,696.0,904,663.0,223.0,49.0,3168,47386,0.337253
1,11,11020,서울특별시 중구,서울특별시,중구,112574,12078,7266,4047,765,...,1200,833,309.0,529,253.0,131.0,30.0,2904,32666,0.290174
2,11,11030,서울특별시 용산구,서울특별시,용산구,201237,20669,10797,8848,1024,...,3411,1533,570.0,1630,964.0,444.0,104.0,4403,74819,0.371795
3,11,11040,서울특별시 성동구,서울특별시,성동구,270022,29076,15473,12046,1557,...,2723,2583,894.0,1703,914.0,410.0,63.0,5712,86298,0.319596
4,11,11050,서울특별시 광진구,서울특별시,광진구,335188,33208,16799,14830,1579,...,2832,3069,711.0,1571,656.0,369.0,47.0,5927,101741,0.303534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,38,38380,경상남도 함양군,경상남도,함양군,36494,8557,6176,1687,694,...,54,26,10.0,69,29.0,12.0,2.0,5079,4110,0.112621
260,38,38390,경상남도 거창군,경상남도,거창군,57442,12398,8571,2965,862,...,119,90,16.0,86,75.0,20.0,NaN,6107,7466,0.129975
261,38,38400,경상남도 합천군,경상남도,합천군,42850,10442,8068,1411,963,...,47,54,18.0,66,21.0,18.0,4.0,7597,4182,0.097596
262,39,39010,제주특별자치도 제주시,제주특별자치도,제주시,412125,57206,24207,30228,2771,...,1822,1535,410.0,1275,643.0,309.0,71.0,17509,84706,0.205535
263,39,39020,제주특별자치도 서귀포시,제주특별자치도,서귀포시,141114,24332,13680,8969,1683,...,322,170,51.0,282,66.0,39.0,9.0,9370,20518,0.145400

In [6]:
edu_15[edu_15['시도']=='서울특별시']

,시도코드,시군구코드,행정구역,시도,시군구,내국인(6세이상),초등학교-계,초등학교-졸업,초등학교-재학,초등학교-중퇴,...,대학원-졸업,대학원-재학,대학원-재학,대학원-수료,대학원-수료,대학원-중퇴,대학원-중퇴,받지않았음 (미취학 포함),학사 학위 이상 소지자,학사 학위 이상 소지자 비율
0,11,11010,서울특별시 종로구,서울특별시,종로구,140506,14794,8422,5581,791,...,2791,1806,696.0,904,663.0,223.0,49.0,3168,47386,0.337253
1,11,11020,서울특별시 중구,서울특별시,중구,112574,12078,7266,4047,765,...,1200,833,309.0,529,253.0,131.0,30.0,2904,32666,0.290174
2,11,11030,서울특별시 용산구,서울특별시,용산구,201237,20669,10797,8848,1024,...,3411,1533,570.0,1630,964.0,444.0,104.0,4403,74819,0.371795
3,11,11040,서울특별시 성동구,서울특별시,성동구,270022,29076,15473,12046,1557,...,2723,2583,894.0,1703,914.0,410.0,63.0,5712,86298,0.319596
4,11,11050,서울특별시 광진구,서울특별시,광진구,335188,33208,16799,14830,1579,...,2832,3069,711.0,1571,656.0,369.0,47.0,5927,101741,0.303534
5,11,11060,서울특별시 동대문구,서울특별시,동대문구,333788,38846,22431,14091,2324,...,2125,3388,894.0,1152,714.0,368.0,57.0,8127,84142,0.252082
6,11,11070,서울특별시 중랑구,서울특별시,중랑구,377939,45874,26294,16667,2913,...,1191,1528,513.0,1016,415.0,245.0,20.0,8870,72076,0.190708
7,11,11080,서울특별시 성북구,서울특별시,성북구,423352,50672,25593,22472,2607,...,3956,3788,1275.0,2188,1281.0,610.0,81.0,9305,121596,0.287222
8,11,11090,서울특별시 강북구,서울특별시,강북구,301584,40362,24405,13279,2678,...,1276,1168,300.0,770,407.0,285.0,47.0,8029,57643,0.191134
9,11,11100,서울특별시 도봉구,서울특별시,도봉구,321886,36588,19270,15560,1758,...,1432,1363,328.0,978,442.0,226.0,61.0,7039,76806,0.238612
10,11,11110,서울특별시 노원구,서울특별시,노원구,531568,61211,27368,30801,3042,...,2906,2843,797.0,2433,1004.0,711.0,78.0,11854,149983,0.282152
11,11,11120,서울특별시 은평구,서울특별시,은평구,448553,51300,26031,22791,2478,...,2439,1899,519.0,1666,699.0,506.0,70.0,10749,117575,0.262121
12,11,11130,서울특별시 서대문구,서울특별시,서대문구,284679,30681,16595,12260,1826,...,2602,3520,1155.0,1346,837.0,447.0,53.0,6237,87725,0.308154
13,11,11140,서울특별시 마포구,서울특별시,마포구,350468,37342,17797,17704,1841,...,4207,3530,1090.0,2303,1112.0,725.0,115.0,6633,130208,0.371526
14,11,11150,서울특별시 양천구,서울특별시,양천구,438004,49281,19702,27474,2105,...,3995,2410,978.0,2226,980.0,668.0,111.0,8398,140218,0.320129
15,11,11160,서울특별시 강서구,서울특별시,강서구,530869,55170,25710,26843,2617,...,2275,2961,893.0,2372,890.0,699.0,121.0,11036,155093,0.292149
16,11,11170,서울특별시 구로구,서울특별시,구로구,381097,43687,22683,19076,1928,...,1789,1631,526.0,1516,683.0,350.0,74.0,8188,104142,0.273269
17,11,11180,서울특별시 금천구,서울특별시,금천구,215450,25623,14917,9053,1653,...,607,844,200.0,454,256.0,158.0,16.0,5565,42966,0.199424
18,11,11190,서울특별시 영등포구,서울특별시,영등포구,338321,35384,18278,15217,1889,...,2912,2476,829.0,2280,1055.0,692.0,75.0,6076,121620,0.359481
19,11,11200,서울특별시 동작구,서울특별시,동작구,373421,35685,17373,16371,1941,...,3889,3157,1063.0,2281,1227.0,654.0,43.0,6678,135219,0.362109
20,11,11210,서울특별시 관악구,서울특별시,관악구,474131,46974,26694,17516,2764,...,3646,4735,2353.0,2353,1636.0,806.0,139.0,8933,151120,0.318730
21,11,11220,서울특별시 서초구,서울특별시,서초구,389692,31954,7424,23805,725,...,14212,4376,1851.0,4133,2480.0,1204.0,263.0,5421,208266,0.534437
22,11,11230,서울특별시 강남구,서울특별시,강남구,507300,38191,10422,26488,1281,...,17066,4849,1828.0,4893,3048.0,1498.0,380.0,6655,259889,0.512298
23,11,11240,서울특별시 송파구,서울특별시,송파구,591252,55026,19979,33067,1980,...,9181,4934,1810.0,3694,1990.0,1209.0,205.0,9946,237292,0.401338
24,11,11250,서울특별시 강동구,서울특별시,강동구,415370,42546,18994,21459,2093,...,2190,2269,805.0,1586,777.0,555.0,68.0,8129,122296,0.294427

In [7]:
edu_20[edu_20['시도']=='서울특별시']

,시도코드,시군구코드,행정구역,시도,시군구,내국인(6세이상),초등학교-계,초등학교-졸업,초등학교-재학,초등학교-중퇴,...,대학원-졸업,대학원-재학,대학원-재학,대학원-수료,대학원-수료,대학원-중퇴,대학원-중퇴,받지않았음 (미취학 포함),학사 학위 이상 소지자,학사 학위 이상 소지자 비율
0,11,11010,서울특별시 종로구,서울특별시,종로구,135937,11331,5647,5181,503,...,3021,2072,828,897,780,312,89.0,2207,53529,0.393778
1,11,11020,서울특별시 중구,서울특별시,중구,113281,9293,5166,3599,528,...,1668,1177,394,601,489,219,41.0,1758,40716,0.359425
2,11,11030,서울특별시 용산구,서울특별시,용산구,201048,14855,6389,7607,859,...,4457,2543,848,1338,1033,508,60.0,2970,90930,0.452280
3,11,11040,서울특별시 성동구,서울특별시,성동구,269074,23634,11732,10503,1399,...,3073,2951,967,1506,990,500,103.0,4495,102482,0.380869
4,11,11050,서울특별시 광진구,서울특별시,광진구,323531,27453,13006,13129,1318,...,2686,3283,889,1135,844,461,92.0,4233,109917,0.339742
5,11,11060,서울특별시 동대문구,서울특별시,동대문구,320101,31241,17308,12584,1349,...,2461,3585,911,1134,688,420,92.0,5725,90036,0.281274
6,11,11070,서울특별시 중랑구,서울특별시,중랑구,365151,38187,21108,14577,2502,...,1117,1512,361,811,380,305,47.0,6008,77135,0.211241
7,11,11080,서울특별시 성북구,서울특별시,성북구,409844,41234,19820,19490,1924,...,4005,4658,1709,1928,1316,594,97.0,7628,124910,0.304774
8,11,11090,서울특별시 강북구,서울특별시,강북구,286029,32857,19563,11196,2098,...,1120,1336,327,772,313,228,75.0,6010,57378,0.200602
9,11,11100,서울특별시 도봉구,서울특별시,도봉구,302868,31331,16481,12812,2038,...,1331,1260,378,776,409,351,8.0,5446,73232,0.241795
10,11,11110,서울특별시 노원구,서울특별시,노원구,489083,50147,22314,25048,2785,...,3649,3225,825,1655,890,700,100.0,8854,147108,0.300783
11,11,11120,서울특별시 은평구,서울특별시,은평구,440644,43524,21230,20101,2193,...,2800,2536,873,1551,716,658,102.0,6870,129178,0.293157
12,11,11130,서울특별시 서대문구,서울특별시,서대문구,291760,26437,12534,12381,1522,...,3613,4982,1744,1368,1175,524,121.0,5211,105256,0.360762
13,11,11140,서울특별시 마포구,서울특별시,마포구,338869,28319,11821,15153,1345,...,3944,4237,1233,1903,1205,678,115.0,5175,141650,0.418008
14,11,11150,서울특별시 양천구,서울특별시,양천구,417952,42316,15184,25669,1463,...,4178,3617,890,1939,1073,632,170.0,6487,145485,0.348090
15,11,11160,서울특별시 강서구,서울특별시,강서구,534001,48169,21177,24850,2142,...,2930,3077,986,1717,836,760,117.0,8480,174580,0.326928
16,11,11170,서울특별시 구로구,서울특별시,구로구,373850,37281,18298,17301,1682,...,1649,2025,564,1059,450,393,124.0,6797,106573,0.285069
17,11,11180,서울특별시 금천구,서울특별시,금천구,215054,20020,11181,7676,1163,...,695,657,204,470,202,167,17.0,3298,50565,0.235127
18,11,11190,서울특별시 영등포구,서울특별시,영등포구,341407,28370,13857,13315,1198,...,4033,2950,984,1765,978,558,72.0,5152,140253,0.410809
19,11,11200,서울특별시 동작구,서울특별시,동작구,363143,30471,13857,15102,1512,...,4643,3877,1018,1897,1070,614,172.0,4967,141083,0.388505
20,11,11210,서울특별시 관악구,서울특별시,관악구,466094,37787,21252,14288,2247,...,3783,5682,3003,1806,1667,718,138.0,6238,159811,0.342873
21,11,11220,서울특별시 서초구,서울특별시,서초구,378142,30643,5710,24444,489,...,14745,6311,2768,3616,2315,1006,261.0,4668,209500,0.554025
22,11,11230,서울특별시 강남구,서울특별시,강남구,482257,37474,7787,28835,852,...,16569,7148,3016,4059,3104,1320,342.0,5209,259317,0.537715
23,11,11240,서울특별시 송파구,서울특별시,송파구,605813,48789,15197,32302,1290,...,9863,6938,2351,3481,2040,1229,249.0,7893,273988,0.452265
24,11,11250,서울특별시 강동구,서울특별시,강동구,419048,39287,15569,22396,1322,...,3020,2606,675,1756,932,613,86.0,6464,147160,0.351177

## 소득

In [8]:
income_1418 = pd.read_csv('../data/1/income/income.csv', encoding='cp949')
income_1418 = income_1418.rename(columns = {'시군구':'행정구역'})

income_1418['시도'] = income_1418['행정구역'].apply(lambda x:x.split(' ')[0])
income_1418['시군구'] = income_1418['행정구역'].apply(lambda x:x.split(' ')[1] if len(x.split(' ')) > 1 else np.nan)
income_1418['시군구'] = income_1418['시군구'].fillna('세종시') # 유일한 빈값이 세종특별자치시임
income_1418['행정구역'] =income_1418['시도'] + " "+ income_1418['시군구']

income_1418 = income_1418[['행정구역','시도','시군구','2014년','2015년','2016년','2017년','2018년']]

income_1418

             행정구역       시도   시군구    2014년    2015년    2016년    2017년    2018년
0       서울특별시 종로구    서울특별시   종로구  2723293  2755607  2737610  2870292  3007628
1        서울특별시 중구    서울특별시    중구  2865653  2922120  3001390  3078491  3120706
2       서울특별시 용산구    서울특별시   용산구  2180357  2327359  2369072  2464669  2539369
3       서울특별시 성동구    서울특별시   성동구  2042650  2141397  2214343  2386608  2476470
4       서울특별시 광진구    서울특별시   광진구  1788230  1832328  1874423  1949150  1997491
..            ...      ...   ...      ...      ...      ...      ...      ...
224      경상남도 함양군     경상남도   함양군  1475940  1544683  1582528  1669689  1740939
225      경상남도 거창군     경상남도   거창군  1443210  1502863  1592552  1678227  1755211
226      경상남도 합천군     경상남도   합천군  1405995  1461014  1517939  1599959  1700104
227   제주특별자치도 제주시  제주특별자치도   제주시  1638462  1730353  1804397  1911227  2015490
228  제주특별자치도 서귀포시  제주특별자치도  서귀포시  1602749  1711471  1772913  1880810  1969949

[229 rows x 8 columns]

In [9]:
income_list = []

for year in range(2014,2019):
    income_process = income_1418.copy()
    income_process = income_process[['행정구역','시도','시군구',str(year)+'년']]
    income_process.loc[:,'시점'] = year
    income_process.rename(columns={str(year)+'년':'소득월액'}, inplace =True)
    income_list.append(income_process[['행정구역','시도','시군구','시점','소득월액']])
    
income_new = pd.concat(income_list).reset_index().drop(columns=['index'])
income_new

              행정구역       시도   시군구    시점     소득월액
0        서울특별시 종로구    서울특별시   종로구  2014  2723293
1         서울특별시 중구    서울특별시    중구  2014  2865653
2        서울특별시 용산구    서울특별시   용산구  2014  2180357
3        서울특별시 성동구    서울특별시   성동구  2014  2042650
4        서울특별시 광진구    서울특별시   광진구  2014  1788230
...            ...      ...   ...   ...      ...
1140      경상남도 함양군     경상남도   함양군  2018  1740939
1141      경상남도 거창군     경상남도   거창군  2018  1755211
1142      경상남도 합천군     경상남도   합천군  2018  1700104
1143   제주특별자치도 제주시  제주특별자치도   제주시  2018  2015490
1144  제주특별자치도 서귀포시  제주특별자치도  서귀포시  2018  1969949

[1145 rows x 5 columns]

In [10]:
set(income_new['행정구역']) - set(income_1418['행정구역'])

set()

In [11]:
income_1418[income_1418['행정구역'].str.contains('세종')]

           행정구역       시도  시군구    2014년    2015년    2016년    2017년    2018년
74  세종특별자치시 세종시  세종특별자치시  세종시  2039151  2127799  2159363  2223934  2262502

## 대사증후군

In [12]:
metabolic = pd.read_excel('../data/1/metabolic/metabolic.xlsx')
metabolic['시도'] = metabolic['시도'].apply(lambda x: sido_abbr_nm[x])
metabolic['시군구'] = metabolic['시군구'].apply(lambda x:x.split(' ')[0])
## 2014년 충북 청원 -> 충북 청주시 청원구 변환됨
metabolic = metabolic.groupby(['시도','시군구','시점']).mean().reset_index()
metabolic['대사증후군(3~5개)_미만_종합 비율'] = 100 - metabolic['대사증후군(3~5개)_종합 비율'] 
metabolic

,시도,시군구,시점,전체비율,대사증후군(3~5개)_종합 비율,대사증후군_비율_3개,대사증후군_비율_4개,대사증후군_비율_5개,대사증후군(3~5개)_미만_종합 비율
0,강원도,강릉시,2014,77.0,26.4,16.1,8.2,2.1,73.6
1,강원도,강릉시,2015,76.5,26.6,16.2,8.1,2.3,73.4
2,강원도,강릉시,2016,77.2,27.9,16.5,8.7,2.7,72.1
3,강원도,강릉시,2017,77.8,29.5,16.8,9.8,2.9,70.5
4,강원도,강릉시,2018,83.3,35.1,19.6,11.4,4.1,64.9
...,...,...,...,...,...,...,...,...,...
1140,충청북도,충주시,2014,75.2,24.7,14.9,7.5,2.3,75.3
1141,충청북도,충주시,2015,75.7,26.5,15.7,8.2,2.6,73.5
1142,충청북도,충주시,2016,76.6,27.6,15.9,8.7,3.0,72.4
1143,충청북도,충주시,2017,77.9,28.5,16.6,9.0,3.0,71.5
1144,충청북도,충주시,2018,81.6,32.8,18.4,10.5,3.9,67.2

## 주거

In [13]:
# 거처의 종류별/주거시설 형태별 가구(일반가구)-시군구
house_15 = pd.read_excel('../data/1/house/2015.xlsx')

house_15.columns = [' '.join(i.split(' ')[1:]) for i in house_15.columns]

## 행정구역 데이터 정리

house_15['시군구'] = house_15['행정구역별(시군구)'].apply(lambda x:x.split(' ')[1])
house_15['시군구코드'] = house_15['행정구역별(시군구)'].apply(lambda x:x.split(' ')[0].strip())
house_15['시군구'] = house_15.apply(lambda x: change_sgg_data[x['시군구코드']]['시군구'] if x['시군구코드'] in change_sgg_data else x['시군구'], axis=1)
house_15['시군구코드'] = house_15.apply(lambda x: change_sgg_data[x['시군구코드']]['시군구코드'] if x['시군구코드'] in change_sgg_data else x['시군구코드'], axis=1)
house_15['시도코드'] = house_15['시군구코드'].apply(lambda x:str(x)[:2])
house_15['시도'] = house_15['시도코드'].apply(lambda x: sido_cd_nm[x])
house_15['행정구역'] = house_15['시도'] + ' '+ edu_15['시군구']

house_clmns = ['시도코드','시군구코드', '행정구역','시도', '시군구',  '일반가구', '부엌_현대식(입식)_계', '부엌_현대식(입식)_단독사용',
       '부엌_현대식(입식)_공동사용', '부엌_재래식_계', '부엌_재래식_단독사용', '부엌_재래식_공동사용', '부엌_없음',
       '수도_상수도', '수도_마을상수도(간이상수도)', '수도_전용상수도', '수도_없음', '화장실_수세식_계',
       '화장실_수세식_단독사용', '화장실_수세식_공동사용', '화장실_재래식_계', '화장실_재래식_단독사용',
       '화장실_재래식_공동사용', '화장실_없음', '목욕시설_있음_계', '목욕시설_단독사용', '목욕시설_공동사용',
       '목욕시설_없음', '온수시설_있음', '온수시설_없음']

house_15 = house_15[house_clmns]

house_15['화장실_수세식_계'] = house_15['화장실_수세식_계'].fillna(0)
house_15['수도_없음'] = house_15['수도_없음'].fillna(0)
house_15['온수시설_있음'] = house_15['온수시설_있음'].fillna(0)
house_15['온수시설_없음'] = house_15['온수시설_없음'].fillna(0)
house_15['화장실_재래식_공동사용'] = house_15['화장실_재래식_공동사용'].fillna(0)
house_15['화장실_수세식_공동사용'] = house_15['화장실_수세식_공동사용'].fillna(0)

house_15['화장실_공동사용'] =  house_15['화장실_재래식_공동사용'] + house_15['화장실_수세식_공동사용']

house_15['화장실_수세식_비율'] = house_15['화장실_수세식_계'] / house_15['일반가구']
house_15['수도_없음_비율'] = house_15['수도_없음'] / house_15['일반가구']
house_15['온수시설_있음_비율'] = house_15['온수시설_있음'] / house_15['일반가구']
house_15['온수시설_없음_비율'] = house_15['온수시설_없음'] / house_15['일반가구']
house_15['화장실_공동사용_비율'] = house_15['화장실_공동사용'] / house_15['일반가구']


house_15

,시도코드,시군구코드,행정구역,시도,시군구,일반가구,부엌_현대식(입식)_계,부엌_현대식(입식)_단독사용,부엌_현대식(입식)_공동사용,부엌_재래식_계,...,목욕시설_공동사용,목욕시설_없음,온수시설_있음,온수시설_없음,화장실_공동사용,화장실_수세식_비율,수도_없음_비율,온수시설_있음_비율,온수시설_없음_비율,화장실_공동사용_비율
0,11,11010,서울특별시 종로구,서울특별시,종로구,61638,61142,58967,2175,442,...,2188,1323,61351,287.0,2815.0,0.993786,0.000227,0.995344,0.004656,0.045670
1,11,11020,서울특별시 중구,서울특별시,중구,51239,50771,48587,2184,301,...,1752,1270,51057,182.0,2428.0,0.994496,0.000566,0.996448,0.003552,0.047386
2,11,11030,서울특별시 용산구,서울특별시,용산구,90336,89823,88433,1390,486,...,1666,1186,90297,39.0,2158.0,0.995118,0.000144,0.999568,0.000432,0.023889
3,11,11040,서울특별시 성동구,서울특별시,성동구,114738,114189,112314,1875,472,...,1394,1190,114724,14.0,2274.0,0.994605,0.000427,0.999878,0.000122,0.019819
4,11,11050,서울특별시 광진구,서울특별시,광진구,147673,146577,143777,2800,689,...,2391,1106,147673,0.0,2801.0,0.994122,0.000122,1.000000,0.000000,0.018968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,38,38380,경상남도 함양군,경상남도,함양군,16676,16380,16250,130,294,...,127,1016,16482,194.0,188.0,0.933617,0.007736,0.988367,0.011633,0.011274
260,38,38390,경상남도 거창군,경상남도,거창군,24719,24415,24223,192,294,...,171,1599,24521,198.0,354.0,0.909341,0.010154,0.991990,0.008010,0.014321
261,38,38400,경상남도 합천군,경상남도,합천군,20419,19928,19756,172,450,...,149,2067,20118,301.0,287.0,0.872815,0.009599,0.985259,0.014741,0.014056
262,39,39010,제주특별자치도 제주시,제주특별자치도,제주시,163454,161871,160228,1643,1446,...,1940,3107,163043,411.0,3683.0,0.988046,0.000385,0.997486,0.002514,0.022532
263,39,39020,제주특별자치도 서귀포시,제주특별자치도,서귀포시,56890,56419,55610,809,414,...,1068,1133,56749,141.0,1845.0,0.983899,0.001072,0.997522,0.002478,0.032431

In [14]:
house_15.columns

Index(['시도코드', '시군구코드', '행정구역', '시도', '시군구', '일반가구', '부엌_현대식(입식)_계',
       '부엌_현대식(입식)_단독사용', '부엌_현대식(입식)_공동사용', '부엌_재래식_계', '부엌_재래식_단독사용',
       '부엌_재래식_공동사용', '부엌_없음', '수도_상수도', '수도_마을상수도(간이상수도)', '수도_전용상수도',
       '수도_없음', '화장실_수세식_계', '화장실_수세식_단독사용', '화장실_수세식_공동사용', '화장실_재래식_계',
       '화장실_재래식_단독사용', '화장실_재래식_공동사용', '화장실_없음', '목욕시설_있음_계', '목욕시설_단독사용',
       '목욕시설_공동사용', '목욕시설_없음', '온수시설_있음', '온수시설_없음', '화장실_공동사용', '화장실_수세식_비율',
       '수도_없음_비율', '온수시설_있음_비율', '온수시설_없음_비율', '화장실_공동사용_비율'],
      dtype='object')

## 데이터 통합

In [15]:
merged_con_var_df = pd.merge(income_new[['행정구역','시도','시군구','시점','소득월액']], edu_15[['시군구코드', '행정구역', '시도', '시군구', '학사 학위 이상 소지자 비율']], on=['행정구역', '시도', '시군구'], how='inner')
merged_con_var_df = pd.merge(merged_con_var_df, metabolic[['시점','시도','시군구','대사증후군(3~5개)_미만_종합 비율']], on=['시도', '시군구', '시점'], how='inner' )
merged_con_var_df = pd.merge(merged_con_var_df, house_15[['시군구코드', '행정구역','시도','시군구','온수시설_있음_비율']], on=['시군구코드', '행정구역','시도','시군구'], how='inner' )

merged_con_var_df

,행정구역,시도,시군구,시점,소득월액,시군구코드,학사 학위 이상 소지자 비율,대사증후군(3~5개)_미만_종합 비율,온수시설_있음_비율
0,서울특별시 종로구,서울특별시,종로구,2014,2723293,11010,0.337253,76.3,0.995344
1,서울특별시 종로구,서울특별시,종로구,2015,2755607,11010,0.337253,75.5,0.995344
2,서울특별시 종로구,서울특별시,종로구,2016,2737610,11010,0.337253,75.0,0.995344
3,서울특별시 종로구,서울특별시,종로구,2017,2870292,11010,0.337253,75.1,0.995344
4,서울특별시 종로구,서울특별시,종로구,2018,3007628,11010,0.337253,70.1,0.995344
...,...,...,...,...,...,...,...,...,...
1140,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2014,1602749,39020,0.145400,74.6,0.997522
1141,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2015,1711471,39020,0.145400,74.1,0.997522
1142,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2016,1772913,39020,0.145400,72.7,0.997522
1143,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2017,1880810,39020,0.145400,70.9,0.997522
1144,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2018,1969949,39020,0.145400,66.5,0.997522

In [16]:
rename_clmns = {'학사 학위 이상 소지자 비율':'Education', 
                '소득월액':'Income', 
                '대사증후군(3~5개)_미만_종합 비율': 'Health',
                '온수시설_있음_비율': 'Housing'
               }

merged_con_var_df = merged_con_var_df.rename(columns=rename_clmns)
merged_con_var_df

,행정구역,시도,시군구,시점,Income,시군구코드,Education,Health,Housing
0,서울특별시 종로구,서울특별시,종로구,2014,2723293,11010,0.337253,76.3,0.995344
1,서울특별시 종로구,서울특별시,종로구,2015,2755607,11010,0.337253,75.5,0.995344
2,서울특별시 종로구,서울특별시,종로구,2016,2737610,11010,0.337253,75.0,0.995344
3,서울특별시 종로구,서울특별시,종로구,2017,2870292,11010,0.337253,75.1,0.995344
4,서울특별시 종로구,서울특별시,종로구,2018,3007628,11010,0.337253,70.1,0.995344
...,...,...,...,...,...,...,...,...,...
1140,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2014,1602749,39020,0.145400,74.6,0.997522
1141,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2015,1711471,39020,0.145400,74.1,0.997522
1142,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2016,1772913,39020,0.145400,72.7,0.997522
1143,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2017,1880810,39020,0.145400,70.9,0.997522
1144,제주특별자치도 서귀포시,제주특별자치도,서귀포시,2018,1969949,39020,0.145400,66.5,0.997522

## PCA 수행

In [17]:
import matplotlib
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt

fm.get_fontconfig_fonts()
font_location = 'C:\\Windows\\Fonts\malgun.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
matplotlib.rc('font', family=font_name)

import seaborn as sns

sns.set_style("whitegrid")
sns.set_context("poster")

plt.ioff()

In [18]:
#전체적으로 스케일링을 하여 같은 범위로 하게 만듦
from sklearn.preprocessing import StandardScaler 
from sklearn.decomposition import PCA

sdi_df_list = [] 
pca_first_comp_explain_ratio = []

for year in range(2014, 2019):
    indicators = merged_con_var_df.loc[merged_con_var_df['시점']==year, ['시도','시군구','시군구코드','Income', 'Education', 'Health', 'Housing']].set_index(['시도','시군구','시군구코드'])

    # 정규성 체크를 위한 시각화
    plt.figure(figsize=(32,32))

    for k in range(4):
        plt.subplot(2,2,1+k)    
        sns.histplot(indicators[indicators.columns.tolist()[k]], kde=True, stat='probability')
        plt.title(f"{indicators.columns.tolist()[k]} Indicator Hist plot in {str(year)}")

    plt.savefig(f'../img/1/histplot/{str(year)}.png')
    plt.close()

    ## SCALING
    transformer = StandardScaler()
    x_data = transformer.fit_transform(indicators)

    scale_df= pd.DataFrame(x_data,columns=indicators.columns.tolist(), index=indicators.index)
    
    ## PCA
    pca = PCA().fit(scale_df)

    plt.rcParams["figure.figsize"] = (18,8)

    fig, ax = plt.subplots()
    
    pca_first_comp_explain_ratio.append(pca.explained_variance_ratio_[0])
    
    y = np.cumsum(pca.explained_variance_ratio_)
    xi = np.arange(0, len(y)+1, step=1)
    y = np.append([0], y)
    
    plt.grid()
    plt.ylim(0.0,1.1)
    plt.plot(xi, y, marker='o', linestyle='--', color='black')
    plt.xlabel('Number of Components')
    plt.xticks(np.arange(0, len(y), step=1)) #change from 0-based array index to 1-based human-readable label
    plt.ylabel('Cumulative variance (%)')
    plt.title('The number of components needed to explain variance')
    plt.axhline(y=0.60, color='red', linestyle='-', alpha=0.8)
    plt.text(0.2, 0.55, '60% cut-off threshold', color = 'red', fontsize=10)
    ax.grid(axis='x')
    
    plt.savefig(f'../img/1/pca/{str(year)}.png')
    plt.close()
    
    ## PCA 실행
    pca = PCA(n_components=1) # 주성분을 몇개로 할지 결정

    x = scale_df #스케일링 scale_df

    printcipalComponents = pca.fit_transform(x)

    # 주성분으로 이루어진 데이터 프레임 구성
    ## First Component == Social Deprivation Index
    principalDf = pd.DataFrame(data=printcipalComponents, columns = ['SDI'], index=indicators.index) 
    principalDf['SDI'] = principalDf['SDI']* -1 # 박탈지수니까 -1로 해서 박탈적일 수로 큰 수로 변환
    sdi_df = indicators.join(principalDf)
    sdi_df['시점'] = year
    
    sdi_df_list.append(sdi_df)
    
sdi_dfs = pd.concat(sdi_df_list)
sdi_dfs = sdi_dfs[['시점','SDI']]

sdi_dfs

                      시점       SDI
시도      시군구  시군구코드
서울특별시   종로구  11010  2014 -2.415031
        중구   11020  2014 -2.362601
        용산구  11030  2014 -2.640132
        성동구  11040  2014 -1.988008
        광진구  11050  2014 -1.823281
...                  ...       ...
경상남도    함양군  38380  2018  1.672184
        거창군  38390  2018  1.016141
        합천군  38400  2018  2.575318
제주특별자치도 제주시  39010  2018 -0.240397
        서귀포시 39020  2018  0.334840

[1145 rows x 2 columns]

In [19]:
year_corr = pd.concat(sdi_df_list)
year_corr.loc[year_corr['시점']==2015].drop(columns=['시점']).corr()

             Income  Education    Health   Housing       SDI
Income     1.000000   0.442512  0.487906  0.353974 -0.682221
Education  0.442512   1.000000  0.698919  0.599522 -0.867306
Health     0.487906   0.698919  1.000000  0.565807 -0.869242
Housing    0.353974   0.599522  0.565807  1.000000 -0.786967
SDI       -0.682221  -0.867306 -0.869242 -0.786967  1.000000

In [20]:
pca_first_comp_explain_ratio

[0.6522296987919247,
 0.6481362431733584,
 0.648212230552592,
 0.6418591673653854,
 0.6157663454217652]

In [33]:
sdi_dfs.reset_index().to_excel('../data/1/result/sdi.xlsx', index=False)

## 시각화

In [30]:
import geopandas as gpd
from shapely.geometry import LineString, Point, Polygon, MultiPolygon

sgg_gdf = gpd.gpd.GeoDataFrame.from_file('../data/0/shp/sgg.shp', encoding='UTF-8', crs="epsg:4326")
sgg_gdf = sgg_gdf.astype({'SGG_AD_CD':str,'SGG_LE_CD':str})
sgg_gdf

,SGG_AD_CD,SGG_LE_CD,SIDO,SGG,geometry
0,11010,11110,서울특별시,종로구,"POLYGON ((126.94890 37.62325, 126.94890 37.623..."
1,11020,11140,서울특별시,중구,"POLYGON ((126.96155 37.55860, 126.96155 37.558..."
2,11030,11170,서울특별시,용산구,"POLYGON ((126.94459 37.53378, 126.94460 37.533..."
3,11040,11200,서울특별시,성동구,"POLYGON ((127.00815 37.54506, 127.00817 37.545..."
4,11050,11210,서울특별시,광진구,"POLYGON ((127.05622 37.52832, 127.05623 37.528..."
...,...,...,...,...,...
224,38380,48870,경상남도,함양군,"POLYGON ((127.58486 35.55391, 127.58488 35.553..."
225,38390,48880,경상남도,거창군,"POLYGON ((127.67944 35.76850, 127.67945 35.768..."
226,38400,48890,경상남도,합천군,"POLYGON ((127.95323 35.53403, 127.95323 35.534..."
227,39010,50110,제주특별자치도,제주시,"MULTIPOLYGON (((126.94125 33.50648, 126.94125 ..."
228,39020,50130,제주특별자치도,서귀포시,"MULTIPOLYGON (((126.16875 33.27659, 126.16876 ..."

In [29]:
for year in range(2014, 2019):

    year_data = sdi_dfs.loc[sdi_dfs['시점']==year].reset_index()

    year_data_visu = gpd.GeoDataFrame(pd.merge(sgg_gdf, year_data[['시군구코드','SDI']], left_on ='SGG_AD_CD', right_on='시군구코드', how='inner'))

    # 읍면동 시각화
    ax = year_data_visu.plot(
        figsize=(50, 50), column='SDI', cmap="RdBu_r")
    ax.set_axis_off()
    
    plt.savefig(f'../img/1/sdi/{str(year)}.png')